*{
    color:whitesmoke;
    font-size:x-large;
}

button{
    background-color: #003366!important;
}

body{
    background-color: #1E7088 !important;
    color:whitesmoke;
    font-size:x-large;
}

table, .edit, .done, .bin, .btn-close{
    background-color: #4CAAA7 !important; 
    border: none;
}

h3{
    color:#4CAAA7;
}



.edit::before{
    content:"✏️";
}

.done::before{
    content: "☐";
}

.done.complete::before {
    content: "☑︎";
}

.bin::before{
    content:"Х";
}

@media (max-width: 600px) {
    h1,h2,td{
        font-size:5vw;
    }
}